.createStudentForm {
    background-color: rgb(206, 232, 255);
    width: fit-content;
    height: 50px;
    display: grid;
    grid-template: 
    "a a a a a a" 20px
    "b b b b b b" 20px;
}

.createStudentForm input {
    margin: 2px;
}

.createStudentForm label {
    margin: 1px;
}